.card {
    width: 24em;
    display: flex;
    justify-content: center;

    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80);
}

.subText {
    background-color: lightgoldenrodyellow;
}